{% extends 'nomi/base.html' %}

{% block head_title %}{{ block.super }} - {{ user }}{% endblock head_title %}

{% block content %}

<!--
    <div class="row mt-3">
        <div class="col-4">
            <div class="card my-2">
                <div class="card-header">
                </div>
                <div class="card-body">
					<li class="list-group-item">
						<h4>Ragione sociale: {{ rubrica.nome }}</h4>
					</li>
					<li class="list-group-item">
						<p class="mb-0"><strong>Indirizzo:</strong> {{ rubrica.indirizzo }}</p>
						<p class="mb-0"><strong>Telefono:</strong> {{ rubrica.telefono }}</p>
						<p class="mb-0"><strong>Cellulare:</strong> {{ rubrica.cellulare }}</p>
						<p class="mb-0"><strong>Fax:</strong> {{ rubrica.fax }}</p>
						<p class="mb-0"><strong>Mail:</strong> {{ rubrica.email }}</p>
					</li>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>

        <div class="col-8">
            <div class="card my-2">
                <div class="card-header">
				<br>
                    <h4>Telefoni diretti</h4>
                </div>
                <div class="card-body">
                    {% for rubriche in rubricar_rubrica %}
						<li class="list-group-item">
							<h4>{{ rubriche.nome }} - {{ rubriche.incarico }}</h4>
						</li>
						<li class="list-group-item">
							<p><strong>Telefono:</strong> {{ rubriche.telefono }}</p>
							<p><strong>Cellulare:</strong> {{ rubriche.cellulare }}</p>
							<p><strong>Fax:</strong> {{ rubriche.fax }}</p>
							<p><strong>Mail:</strong> {{ rubriche.email }}</p>
						</li>
                    {% empty %}
						<p>{{ rubrica.nome }} non ha numeri diretti</p>
                    {% endfor %}
                </div>
                <div class="card-footer"></div>

            </div>

        </div>

    </div>
-->	
	
	
<section class="container mt-4 mb-4">
<div class="container">
	<div class="row mb-3">
		<div class="col-md-6">
			<div class="d-flex flex-row border rounded">
	  			<div class="p-0 w-25">
					<li class="list-group-item active">
						<h4>Ragione sociale: {{ rubrica.nome }}</h4>
					</li>
					<li class="list-group-item">
						<p class="mb-0"><strong>Indirizzo:</strong> {{ rubrica.indirizzo }}</p>
						<p class="mb-0"><strong>Telefono:</strong> {{ rubrica.telefono }}</p>
						<p class="mb-0"><strong>Cellulare:</strong> {{ rubrica.cellulare }}</p>
						<p class="mb-0"><strong>Fax:</strong> {{ rubrica.fax }}</p>
						<p class="mb-0"><strong>Mail:</strong> {{ rubrica.email }}</p>
					</li>
	  				
	  			</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="d-flex flex-row border rounded">
	  			<div class="p-0 w-25">
					<li class="list-group-item active">
						<a href="{% url 'rubricar_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
						<h4>Telefoni diretti</h4>
					</li>
	  			</div>
	  			<div class="pl-3 pt-2 pr-2 pb-2 w-75 border-left">
                    {% for rubriche in rubricar_rubrica %}
						<li class="list-group-item list-group-item-info">
							<a class="btn btn-default" title="Modifica contatto" href="{% url 'rubricar_edit' pk=rubriche.pk%}"><span class="glyphicon glyphicon-pencil"></span></a>
							<a class="btn btn-default" title="Elimina contatto" href="{% url 'rubricar_delete'  pk=rubriche.pk %}" class="top-menu"><span class="glyphicon glyphicon-minus"></span></a>

							<h4>{{ rubriche.nome }} - {{ rubriche.incarico }}</h4>
						</li>
						<li class="list-group-item">
							<p><strong>Telefono:</strong> {{ rubriche.telefono }}</p>
							<p><strong>Cellulare:</strong> {{ rubriche.cellulare }}</p>
							<p><strong>Fax:</strong> {{ rubriche.fax }}</p>
							<p><strong>Mail:</strong> {{ rubriche.email }}</p>
						</li>
                    {% empty %}
						<li class="list-group-item list-group-item-info">
							<h4>{{ rubrica.nome }} non ha numeri diretti</h4>
						</li>
                    {% endfor %}
				</div>
			</div>
		</div>
	</div>

</div>
</section>
	

{% endblock content %}
